<header>
  <h3>Spotify App by Aurélien JL</h3>
</header>
<section>
  <div class="searchbar">
    <mat-form-field>
      <input matInput [(ngModel)]="searchInput"/>
    </mat-form-field>
    <button mat-raised-button (click)="fetchAlbumsAndArtists()" color="primary">Search</button>
  </div>

  <h4 *ngIf="albums.length > 0">Albums</h4>
  <div class="albums">
    <app-album *ngFor="let album of albums" [album]="album"></app-album>
  </div>

  <h4 *ngIf="artists.length > 0">Artists</h4>
  <div class="artists">
    <app-artist *ngFor="let artist of artists" [artist]="artist"></app-artist>
  </div>
</section>
